/* Provide sufficient contrast against white background */
a {
  color: #F7CE3E;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #c5c1c0;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


